<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868704184638-2dcmkkl4am1kc2hvjgsffhktaqui531h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868704184638-2dcmkkl4am1kc2hvjgsffhktaqui531h</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Tq0-I8G5YUkRGgi2Av5QmNFJp8yu6Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>868704184638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carpoolingPassenger</string>
	<key>PROJECT_ID</key>
	<string>carpooling-11c56</string>
	<key>STORAGE_BUCKET</key>
	<string>carpooling-11c56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868704184638:ios:7fa0b79401e791d14a646f</string>
	<key>DATABASE_URL</key>
	<string>https://carpooling-11c56-default-rtdb.firebaseio.com</string>
</dict>
</plist>